@import "tailwindcss";

.card {
  background-color: pink;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
h1 {
  color: red;
  text-align: center;
}

.heading {
  padding: 10px;
}

.data {
  margin: 10px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.blogCard {
  background-color: aquamarine;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.blogimg {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

footer {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
